<h1>Listing Pharmacy users</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for pharmacy_user <- @pharmacy_users do %>
    <tr>

      <td>
        <span><%= link "Show", to: Routes.pharmacy_user_path(@conn, :show, pharmacy_user) %></span>
        <span><%= link "Edit", to: Routes.pharmacy_user_path(@conn, :edit, pharmacy_user) %></span>
        <span><%= link "Delete", to: Routes.pharmacy_user_path(@conn, :delete, pharmacy_user), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Pharmacy user", to: Routes.pharmacy_user_path(@conn, :new) %></span>
